<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<style type="text/css">
	span {
		display: inline-block;
		width: 200px;
		text-align: left;
	}
</style>
</head>
<body>
	<div align="center">
		<h2>Output !</h2>
		<span>program ID :</span><br><span th:text="${user.number_of_programID_greater_than}"></span><br/>
		<span>Number of programID greater than the given program id:</span><br><span th:text="${user.count}"></span><br/>

		<span>season ID :</span><br><span th:text="${user.concerts_of_the_season}"></span><br/>
		<span>Location at which the season took place :</span><br><span th:text="${user.sconcert}"></span><br/>

		<span>work ID :</span><br><span th:text="${user.concerts_of_workID}"></span><br/>
		<span>composer worked under this work id:</span><br><span th:text="${user.ret}"></span><br/>

		<span>composer name:</span><br><span th:text="${user.venues_at_the_composer_performed}"></span><br/>
		<span>venues where the composer has performed :</span><br><span th:text="${user.venues}"></span><br/>

	</div>
</body>
</html>